@import 'reset';
@import 'variables';
@import '../../node_modules/wallop/css/wallop.css';
@import '../../node_modules/wallop/css/wallop--slide.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
// NOTE: all style are mobile first

h1, h2, h3, p, ol, ul {
  max-width: 35em; // optimum line length of readability
}

h1, h2 {
  margin-bottom: 2em;
}

h3 {
  margin-bottom: 1em;
}

body {
  font-family: Lato, serif;
}

.header {
  background: $color-header;
  position: fixed;
  height: 4.5em;
  width: 100vw;
  top: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 9;
  transform: translateY(-4.5em);

  .sticky-header & {
    transform: translateY(0);
  }
}

.logo {
  display: none;
  fill: rgba(255,255,255,0.8);
  height: 50px;
  width: auto;
  transition: all 0.3s;
  transform: translate(2.5em, 0.3em);

  @include mquery(small) {
    display: inline-block;
  }
}

// .nav {
//   display: flex;
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   position: fixed;
//   top: 1em;
//   right: 2em;
//   transition: all 0.2s;
//   z-index: 99;

//   a {
//     display: block;
//     text-decoration: none;
//     padding: 0.5em;
//     // transition: all 0.25s;

//     &:link {
//       border-bottom: 2px solid transparent;
//       color: rgba(255,255,255,0.9);
//     }
//     &:visited {
//       color: rgba(255,255,255,0.9);
//     }
//     &:hover {
//       border-bottom: 2px solid rgba(255,255,255,0.4);
//       color: rgba(255,255,255,0.8);
//     }
//   }
// }

// .hero {
//   color: #fff;
//   text-align: center;
//   height: 80vh;
//   // background-image set in Container.vue
//   background-color: rgba(0,0,0,0.25);
//   background-blend-mode: hard-light;
//   background-position: top center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding: 24vh 0 0;
//   position: relative;
//   width: 100vw;
// }

// .title {
//   font-size: 2em;
//   margin: 0 0 0.2em;

//   @include mquery(small) {
//     font-size: 6vw;
//   }
// }

// .tagline {
//   display: block;
//   font-size: 1em;

//   @include mquery(small) {
//     font-size: 3vw;
//   }
// }

.title,
.tagline {
  opacity: 1;
  position: relative;
  transition: all 0.3s;
  z-index: 1;

  .sticky-header & {
    opacity: 0;
    transform: translateY(-1em);
  }
}

.photo-title {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  bottom: 1.5em;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  position: absolute;
  right: 3em;
  z-index: 1;
}

.section {
  padding: 5em 2em;

  @include mquery(small) {
    padding: 5em;
  }

  &--about {
    background: #fff;
  }

  &--casestudy {
    background: $color-section;
  }

  &--photo {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &--experience {
    background: $color-section;
  }

  &--contact {
    background: #fff;
    display: flex;
    position: relative;
  }
}

.photo-window {
  height: 20em;
  position: relative;

  .photo-title {
    opacity: 0.8;
  }
}

footer {
  background: $color-footer;
  color: #CAC9C8;
  display: flex;
  font-size: 0.8em;
  justify-content: flex-end;
  padding: 1em;
  position: relative;
  text-align: right;

  a:link {
    color: #CAC9C8;
    border-bottom: 1px solid currentColor;
    transition: all 0.25s;
    padding: 0 0 0.2em;
  }

  a:visited {
    color: #CAC9C8;
    border-bottom: 1px solid currentColor;
    padding: 0 0 0.2em;
  }

  a:hover {
    color: #fff;
    border-bottom: 1px solid currentColor;
  }
}

.github {

}

.copyright {
  margin: 0 0 0 2em;
}

.contact-content {
  flex: 1 0 auto;
}

.contact-side {
  flex: 1 0 30%;
  text-align: center;
}

.contact-list {
  display: inline-block;
  margin: 0;

  li {
    padding: 0.3em 0;
  }
}

.contact-photo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

// .svg-mountains {
//   fill: $color-footer;
//   width: 80px;
//   height: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   transform: translate(4em, -40px);
// }

// Wallop slider in case study
.Wallop-buttonNext,
.Wallop-buttonPrevious {
  background: rgba(0,0,0,0.1);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  height: 40px;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s;
  width: 40px;
  z-index: 9;

  &:hover {
    background: rgba(0,0,0,0.3);
    &:before {
      color: rgba(0,0,0,0.6);
    }
  }
}

.Wallop-buttonNext:before,
.Wallop-buttonPrevious:before {
  color: rgba(0,0,0,0.4);
  font-size: 25px;
  left: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 50%;
  transition: all 0.25s;
  width: 100%;
}

.Wallop-buttonNext:before {
  content: "\276F";
}

.Wallop-buttonPrevious:before {
  content: "\276E";
}

.Wallop-buttonPrevious {
  left: 1em;
}

.Wallop-buttonNext {
  right: 1em;
}
// this is the .Wallop container
.slideshow-projects,
.slideshow-mobile {
  box-shadow: 0 0 0 2px $color-header;
  margin: 2em auto 3em;
  max-width: 700px;

  .Wallop-list {
    background: #fff;
  }

  .Wallop-item {
    text-align: center;
  }
}

.slideshow-mobile {
  width: 350px;
}

